<form>
    <div class="form-group">
      <label for="username">GitHub Repo Name</label>
      <input type="text" placeholder="search.." >
      <button type="submit"><i class="fa fa-search"></i></button>
    </div>

    <div class="row">
            <h3>My Repositories:</h3>
            <div *ngFor='let repo of repos'>
              <table class="table">
                <thead>
                  <tr>
                    <th>Repo ID</th>
                    <th>Repo Name</th>
                    <th>Repo URL</th>
          
                    <th style="width: 50px;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
          
                  <tr>
                    <td>{{repo.id}}</td>
                    <td><strong appFontSwitcher>{{repo.name}}</strong></td>
                    <td><a href="{{repo.url}}">{{repo.url}}</a></td>
                  </tr>
          
          
          
                </tbody>
              </table>
          </div>
          </div>

