h1{
    text-align: center;
    margin-top:%;
}
#link1{
    padding-left:30%;
    color:white;
}
#link2{
    padding-left: 20%;
    color:white;
}
.top{
    background-image: url(../app/explore.jpg);
    line-height: 1500%;
}
.repos1{
    float: right;
}




























































































