h1{
    text-align: center;
    margin-top:20%;
}
.top{
    background-image: url(../app/explore.jpg);
}
.repos1{
    float: right;
}




























































































