<div class="container">
        <h3>Search for Repositories:</h3>
      <div >
        <form  (ngSubmit)='repoSearch()'>
          
        <input class="input" name="s" >
        <!-- [(ngModel)]="s" -->
        <button  class="btn btn-success" type="submit" onclick="repoSearch()">SEARCH</button><br>
        </form>
      
        <div  class="row">
          <div *ngFor='let repo of repos'>
            <table class="table">
              <thead>
                <tr>
                  <th>Repo ID</th>
                  <th>Repo Name</th>
                  <th>Repo URL</th>
                  <th>Repo Owner</th>
      
                  <th style="width: 50px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
      
                <tr>
                  <td>{{repo.id}}</td>
                  <td><strong appFontSwitcher>{{repo.name}}</strong></td>
                  <td><a href="{{repo.url}}">{{repo.url}}</a></td>
                  <td>{{repo.owner.login}}</td>
                </tr>
      
      
      
              </tbody>
            </table>
        </div>
        </div>
      </div>
      